In [2]:
list = []
print(type(list))

<class 'list'>

In [4]:
l = [10,20,True,10+5j,5.2,"Vamsi","Hemanth","Pavan"]
print(l)

[10, 20, True, (10+5j), 5.2, 'Vamsi']

In [5]:
l[2]

True

In [10]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
print(l)

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [15]:
l[5][1]

78

In [18]:
list = input("Enter the value :")
print(list)

Enter the value : 10

10

In [23]:
list = eval(input("Enter the value : "))
print(list)

Enter the value :  10

10

In [25]:
list = eval(input("Enter the value : "))
print(list)
print(type(list))

Enter the value :  10,30,40,74,38,82

(10, 30, 40, 74, 38, 82)
<class 'tuple'>

In [26]:
list = eval(input("Enter the value : "))
print(list)
print(type(list))

Enter the value :  [10,20,45,28,37,95,18,32]

[10, 20, 45, 28, 37, 95, 18, 32]
<class 'list'>

In [27]:
h = "Vamsi Javvadi hemanth kambala"
print(h)

Vamsi Javvadi hemanth kambala

In [31]:
s = h.split()
print(s)
print(type(s))

['Vamsi', 'Javvadi', 'hemanth', 'kambala']
<class 'list'>

In [35]:
s[3:2:]

[]

In [36]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
print(l)

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [41]:
j = l[4]
print(j)
print(type(j))

5.2
<class 'float'>

In [42]:
k = l[-3]
print(k)
print(type(k))

[45, 78]
<class 'list'>

In [53]:
k = l[-3][-0]
print(k)
print(type(k))  # doubt here we are passing the negative values but order is not getting properly

78
<class 'int'>

In [60]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
print(l)
k = l[-6:-3:1]
print(k)
print(type(k))

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']
[True, (10+5j), 5.2]
<class 'list'>

In [65]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
print(l)
k = l[-6:-5:1]   
print(k)
print(type(k))

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']
[True]
<class 'list'>

In [68]:
n = "Vamsi Krishna Javvadi"
n[1:5]               #[start:end:step]

'amsi'

In [69]:
n[1:5:2]    #[start:end:step]

'as'

n[1:5:3]    #[start:end:step]

In [71]:
n = "Javvadi Krishna Vamsi"
n[::-1]    # reverse the string

'ismaV anhsirK idavvaJ'

In [73]:
n = "Javvadi Krishna Vamsi"
n[-6:-3:]     #[start:end:step]  if step is not mention then it will takes default value is 1

' Va'

In [74]:
n[-3:-6:]  # Start value can't be grater than end value it is greater than start value retun empty response

''

In [77]:
n[-3:-8:-2] #[start:end:step]

'mVa'

In [94]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l[3::]

[(10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [95]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l[3::1]

[(10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [96]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l[3::2]

[(10+5j), [45, 78], 'Pavan']

In [98]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l[4] = 41     # index of 4 we are placing the 41 value
print(l)
print(len(l))

[10, 20, True, (10+5j), 41, [45, 78], 'Hemanth', 'Pavan']
8

1. by using while loop

In [114]:
n = [1,2,3,42,3,5,8,49,23,90,45]
i =0
while i<len(n):
     print(n[i])
     i = i+1

1
2
3
42
3
5
8
49
23
90
45

In [105]:
n = [0,1,2,3,4,5,6,7,8,9]
i = 0
while i<len(n):
    print(n[i])
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [119]:
n = [0,1,2,3,4,5,6,7,8,9,10,12,17,15,20,22,23]
for e in n:
     if e%2 == 0:
           print(e)

0
2
4
6
8
10
12
20
22

4. to display elements in index wise

In [125]:
n = ["Vamsi","Priya","javvadi"]
a = len(n)
print(a)
for e in range(a):
     print(n[e],"Positive Index value is : ",e,"Negative Index Value is : ",e-a)

3
Vamsi Positive Index value is :  0 Negative Index Value is :  -3
Priya Positive Index value is :  1 Negative Index Value is :  -2
javvadi Positive Index value is :  2 Negative Index Value is :  -1

To get info about list

In [ ]:
n = [1,2,3,42,3,5,8,49,23,90,45,2]
print(len(n))
print(n.count(2))
n.count(2)
n.index(2)
print(n.index(8))

Manipulating the elements of list

In [138]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
print(l)

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [139]:
l.append(False)    # Appending the value in list

In [140]:
print(l)

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan', False]

In [150]:
listVal = []
for i in range(0,10):
    if i%2 == 0:
        listVal.append(i)
listVal       # space differenec in below functinality

[0, 2, 4, 6, 8]

In [151]:
listVal = []
for i in range(0,10):
    if i%2 == 0:
        listVal.append(i)
        print(listVal)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

Insert the value by using the index

In [153]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l.insert(1,41)        # based on Index value we are inserting the value by using insert method
l

[10, 41, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [155]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l.insert(9,"Javvadi")        # based on Index value we are inserting the value by using insert method
l

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan', 'Javvadi']

Note: If the specified index is greater than max index then element will be inserted at last position. If the specified index is smaller than min index then element will be inserted at first position.

In [160]:
   l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l.insert(-0,"Javvadi")        # based on Index value we are inserting the value by using insert method
l

['Javvadi', 10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Pavan']

In [162]:
l = [10,20,True,10+5j,5.2,[45,78],"Hemanth","Pavan"]
l.insert(-1,"Javvadi")        # based on Index value we are inserting the value by using insert method
l

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']

diff between append() and insert()

*In List when we add any element by using append() it will come in last i.e. it will be last element. 

*In List we can insert any element in particular index number 


extend()

to add all items of one list to another list

In [165]:
k = [10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']
k.extend(41)      # dount we trying to extend the integer value but it is showing error y
                  # Inside the list you have to pass the any valu i.e int float complex etc.,

TypeError: 'int' object is not iterable

In [198]:
k = [10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']
k.extend("hi")       # if we are trying to add string 
k

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan', 'h', 'i']

In [197]:
k

[]

k.extend(["Pandu","Priya"])
k

In [217]:
k = [10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']

In [4]:
k = [10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']
k.extend(["Vamsi","Lochana"])
k

[10,
 20,
 True,
 (10+5j),
 5.2,
 [45, 78],
 'Hemanth',
 'Javvadi',
 'Pavan',
 'Vamsi',
 'Lochana']

remove()

*We can use this function to remove specified item from the list.If the item present multiple times then only first occurrence will be removed.

In [8]:
k.remove("Lochana")
k

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan', 'Vamsi']

In [9]:
k.remove("Vamsi")
k

[10, 20, True, (10+5j), 5.2, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']

In [10]:
k.remove(5.2)
k

[10, 20, True, (10+5j), [45, 78], 'Hemanth', 'Javvadi', 'Pavan']

In [11]:
k.remove(10+5j)
k

[10, 20, True, [45, 78], 'Hemanth', 'Javvadi', 'Pavan']

In [12]:
k.remove(45,78)
k      # insdie the list we are trying to remove

TypeError: list.remove() takes exactly one argument (2 given)

In [13]:
k.remove([45,78])
k

[10, 20, True, 'Hemanth', 'Javvadi', 'Pavan']


pop() function

* It removes and returns the last element of the list.
* This is only function which manipulates list and returns some element.

In [14]:
k

[10, 20, True, 'Hemanth', 'Javvadi', 'Pavan']

In [15]:
k.pop()
k

[10, 20, True, 'Hemanth', 'Javvadi']

In [21]:
k.pop("Hemanth")    # Str value is not pop

TypeError: 'str' object cannot be interpreted as an integer

In [23]:
k.pop(True)
k

[10, 'Hemanth', 'Javvadi']

In [25]:
j = [10, 20, True, 'Hemanth', 'Javvadi']
j.pop(True)     # Here I'm passing the boolean Value but pop is 20 y

20

In [26]:
j

[10, True, 'Hemanth', 'Javvadi']

In [28]:
j.pop(True)

True

In [29]:
j

[10, 'Hemanth', 'Javvadi']

Ordering elements of list

In [31]:
n = [10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

In [32]:
s = [3,2,1,7,5,6]
s.sort()
s

[1, 2, 3, 5, 6, 7]

In [33]:
f = ["boy","apple","elephant"]
f.sort()
f

['apple', 'boy', 'elephant']

Note: To use sort() function, compulsory list should contain only homogeneous elements. otherwise we will get TypeError

In [43]:
f = [10,20.30,10+2j,"boy","apple","elephant"]
f.sort()
f                #TypeError: '<' not supported between instances of 'complex' and 'float'

TypeError: '<' not supported between instances of 'complex' and 'float'

To sort in reverse of default natural sorting order:
We can sort according to reverse of default natural sorting order by using reverse=True argument.

In [44]:
n = [40,10,30,20]
n.sort()
n

[10, 20, 30, 40]

In [45]:
n = [40,10,30,20]
n.sort(reverse=True)
n

[40, 30, 20, 10]

In [46]:
n = [40,10,30,20]
n.sort(reverse=False)
n

[10, 20, 30, 40]

In [48]:
n.sort(reverse=True)
n

[40, 30, 20, 10]

In [49]:
n.sort(reverse=False)
n

[10, 20, 30, 40]

In [50]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [51]:
a=[1,2,3]
b=[4,5,6]
a==b

False

In [52]:
a<=b

True

Membership Operator
We can check whether element is a member of the list or not by using memebership operators.

In [53]:
n = [10,20,30,40,50]
print(10 in n)
print(60 not in n)

True
True

--List comprehensions--

*It is very easy and compact way of creating list objects from any iterable objects(like list,tuple,dictionary,range etc) based on some condition.

In [57]:
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [59]:
a = [i*i for i in range(1,11)]
a                              #True Value Condition

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
a = [2*i for i in range(1,11)]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
s = [m for m in a if m%2 == 0]
s

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
words=["Chiranjeevi","Nagarjuna","Balayya","Mahesh","Pawan"]
l = [w[0] for w in words]
print(l)

['C', 'N', 'B', 'M', 'P']

In [68]:
num1=[10,20,30,40]
num2=[30,40,50,60]
l1 = [n for n in num1 if n not in num2]
print("objects in list1:",l1)
l2 = [n for n in num1 if n in num2]
print("objects in list2:",l2)

objects in list1: [10, 20]
objects in list2: [30, 40]

In [73]:


word="every dog has its day".split()
l3 = [[w.upper(),len(w)] for w in word]
print(l3)

[['EVERY', 5], ['DOG', 3], ['HAS', 3], ['ITS', 3], ['DAY', 3]]

In [77]:
word = "Im vamsi Javvadi from Bhimavaram working as developer".split()
x = [[w.upper(),len(w)] for w in word]
print(x)

[['IM', 2], ['VAMSI', 5], ['JAVVADI', 7], ['FROM', 4], ['BHIMAVARAM', 10], ['WORKING', 7], ['AS', 2], ['DEVELOPER', 9]]

In [90]:
vowels=['a','e','i','o','u']
text=input("Enter the word here : ")
list=[]
for a in text:
     if a in vowels:
        if a not in list:
            list.append(a)
print(list)
print("In Word these are the vowels",word,"total list : ",len(list))

Enter the word here :  Vamsi

['a', 'i']
In Word these are the vowels Vamsi total list :  2

3. Implement List comprehensions to produce the following lists.Write List comprehensions to produce the following Lists

In [94]:
a = "abcdjhshndjkkdd"
[i for i in a]

['a', 'b', 'c', 'd', 'j', 'h', 's', 'h', 'n', 'd', 'j', 'k', 'k', 'd', 'd']

In [130]:
v = list("abc")
new = []
for i in range(len(v)):
    for j in range(1,5):
        new.append(i*s[j])
new                               # getting error in Your Github account also

TypeError: 'list' object is not callable

In [135]:
s = list('xyz')
new=[]
for i in range(1,5):
    for j in range(len(s)):
        new.append(i*s[j])
new

TypeError: 'list' object is not callable

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [115]:
[i*j for i in range(1,5) for j in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [136]:
l=[2,3,4]
result=[]
for i in l:
    for n in range(0,3):
        result.append([i+n])
result

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [137]:
l=[2,3,4]
[[i+n] for i in l for n in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [138]:
l=[2,3,4]
[[i+n for i in l] for n in range(0,3)]

[[2, 3, 4], [3, 4, 5], [4, 5, 6]]

In [139]:
l=[1,2,3]
[(n,i) for i in l for n in l]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
List Data Upto here