In [2]:
def welocmeToFunctions():
    print("Hello Welcome to Functions Topics")

In [3]:
welocmeToFunctions()

Hello Welcome to Functions Topics

In [4]:
def welocmeToFunctions(name,Technology):
    print("Hello",name,"Welcome to",Technology,"Functions Topics")

In [5]:
welocmeToFunctions("vamsi","Python")

Hello vamsi Welcome to Python Functions Topics

Parameters :

In [7]:
def Multi(num):
   return num*num

In [8]:
Multi(6)

36

2. return statement:  
function can takes input values as a parameters and executes business logic and returns output as return

In [3]:
def add(a,b):
    return a+b
add(2,6)

8

In [4]:
def f1():
    print("hello")
    
f1()
#print?
print(f1())

hello
hello
None

In [8]:
def add_sub(x):
    if x%2==0:
       print("{} given num is Even num".format(x))
    else:
       print("{} given num is Odd num".format(x))

In [10]:
add_sub(26)

26 given num is Even num

In [11]:
add_sub(27)

27 given num is Odd num

In [ ]:
#5!= 5*4*3*2*1
def fact(num):
    result=1
    while num>=1:
        result = result*num
        num = num-1
    return result

fact(5)

In [15]:
def MultiVal(num):
    result = 1
    while num>=1:
        result = result*num 
        num = num-1
    return result

In [ ]:
MultiVal(5)

In Python a function can return multiple values

In [17]:
def sub_add(x,y):
    sub = x-y
    add = x+y
    return sub,add

In [21]:
j = sub_add(5,8)

In [22]:
print(j)

(-3, 13)

In [23]:
list(j)

[-3, 13]

In [25]:
def calc(x,y):
    add = x+y
    sub = x-y
    mul = x*y
    div = x/y
    return add, sub, mul, div
t = calc(45,34)
print(t)
print(type(t))
l = list(t)
print(l)

(79, 11, 1530, 1.3235294117647058)
<class 'tuple'>
[79, 11, 1530, 1.3235294117647058]


3.Types of Arguments
* positional 
* keyword 
* default 
* variable length arguments

2. return statement:

In [10]:
def add(x,y):
    return x+y

In [11]:
add(23,32)

55

In [18]:
def ASMD(x,y):
    a = x+y
    s = x-y
    m = x*y
    d = x%y
    return a,s,m,d

In [19]:
ASMD(22,44)

(66, -22, 968, 22)

In [26]:
def ASMD(x,y):
    a = x+y
    s = x-y
    m = x*y
    d = x%y
    f = a,s,m,d
    print(f)
    print(type(f))
    l = list(f)
    print(l,type(l))

In [27]:
ASMD(43,54)

(97, -11, 2322, 43)
<class 'tuple'>
[97, -11, 2322, 43] <class 'list'>

In [32]:
def add(a,b):
    return a+b
add(1,20)

21

In [35]:
def sub(x,y):
    return x-y
sub(54,98)

-44

Keyword Arguments: sometimes we can pass argument values by keyword i.e by parameter name 
* no. of arguments must be matched

In [113]:
def CustomerRegistration(name,age,gender,state):
    return ("My Name is: {0} age is:{1} I'm : {2} I'm from : {3}").format(name,age,gender,state)  # when we are return the value ' coming in the test

In [114]:
CustomerRegistration("Vamsi",28,"Male","Andhra")

"My Name is: Vamsi age is:28 I'm : Male I'm from : Andhra"

In [58]:
def _CustomerRegistration(name,age):
    print("My Name is:",name,"age is:",age,)

In [59]:
_CustomerRegistration("Vamsi",29)

My Name is: Vamsi age is: 29

In [56]:
_CustomerRegistration(age=29,name="Vamsi")

('My Name is:', 'Vamsi', 'age is:', 29)

In [60]:
def wish(name,age):
    print("my name is:",name,"age is:",age)
    
#wish(name="pawan",age=26)
wish(age=26,name="pawan")

my name is: pawan age is: 26

In [69]:
def BothPositionalKeyWord(name,age,gender,state):
    print("My Name is:",name,"age is:",age,"I'm :",gender,"I'm from :",state)

BothPositionalKeyWord("Priyanka",25,"Female","Andhra")    
#BothPositionalKeyWord("Priyanka",25,gender="Female","Andhra")

My Name is: Priyanka age is: 25 I'm : Female I'm from : Andhra

In [71]:
BothPositionalKeyWord("Priyanka",25,gender="Female","Andhra")    # In Parameters Keyword asigned then no option to give positinal value

SyntaxError: positional argument follows keyword argument (3321043213.py, line 1)

In [72]:
BothPositionalKeyWord("Priyanka",25,"Female",state = "Andhra")

My Name is: Priyanka age is: 25 I'm : Female I'm from : Andhra

In [73]:
def __CustomerRegistration(name = "vamsi Javvadi"):
    print("My Name is:",name)

In [74]:
__CustomerRegistration()    # if you gave default value no need to pass if u pass the value default value change to given value

My Name is: vamsi Javvadi

In [75]:
__CustomerRegistration("Krishna")

My Name is: Krishna



Example for all above three

In [80]:
def wish(name,age,qual="btech",msg="Good Morning"):
    print("Student name:",name)
    print("Student Marks:",age)
    print("qualification:",qual)
    print("message:",msg)
    
#wish("Pandu",25)               #positional
#wish(age=26,name="Priya")      #keyword
#wish("Javvadi",age=26)         #p,k
wish("Pandu",age=26,qual="B.Tech") #p,k,d

Student name: Pandu
Student Marks: 26
qualification: B.Tech
message: Good Morning

Variable Length

In [100]:
def sum(*n):
    count=0
    for i in n:
        count=count+i
    print(count)
    
sum()
sum(1,10,36,94,36,75,2)
sum(1,3,2)

0
254
6

In [109]:
def addAll(*n):
    value=0
    for i in n:
        value=value+i
    print(value)

addAll(12,45,33,67,88)

245

In [29]:
def sum(*n,name):
    result = 0
    for x in n:
        result = result+x
    print("the sum by",name,":",result)
    
sum(name="Vamsi")
sum(58,88,name="Javvadi")
sum(13,34,name="Krishna")

the sum by Vamsi : 0
the sum by Javvadi : 146
the sum by Krishna : 47


* we can declare keyword variable length arguments also 
* we can call this function by passing any no. of keyword arguments. internally these keyword arguments will be stored inside a dict

In [31]:
def display(**kwargs):
    for k,v in kwargs.items():
        print(k,"==",v)
        
display(name="pawan",company="micro")

name == pawan
company == micro

In [36]:
def output(**JVKargs):
    for j,v,k in JVKargs.items():
        print(j,"==",v,"==",k)
        
output(name="Vamsi",company="Javvadi",designation="Developer")

ValueError: not enough values to unpack (expected 3, got 2)

In [38]:
def func(arg1,arg2,arg3=3,arg4=4):
    print(arg1,arg2,arg3,arg4)
    
func(1,2)
func(10,20,30,40)
func(50,60,arg3=70)
func(arg4=4,arg1=1,arg2=3)
#func()                         #TypeError: func() missing 2 required positional arguments: 'arg1' and 'arg2'
#func(arg3=300,arg4=400,30,40)  #SyntaxError: positional argument follows keyword argument
#func(4,5,arg2=6)               #TypeError: func() got multiple values for argument 'arg2'
#func(4,5,arg3=500,arg5=600)    #TypeError: func() got an unexpected keyword argument 'arg5'

1 2 3 4
10 20 30 40
50 60 70 4
1 3 3 4

2.Types of Variables   

 * Global: - The varibales which are declared outside of a function - These variables can be accessed in all functions of that Module --> declaration outside of all functions

In [39]:
a=10 #global variable

def f1():
    print(a)

def f2():
    print(a)
    
f1()
f2()

10
10

Local:   
* The variables which are declared inside a function
* which can access only inside the function--> declare inside of a function

In [41]:
def f3():
    b=12      #local variable
    print(b)

def f4():
    print(b)
    
f3()
#f4()

12

global keyword  
* To declare the global variable inside a function  
* To make global variable available to the functions so that we can perform required modifications

In [44]:
g=10

def f1():
    g=777
    print(g)
    
def f2():
    print(g)
    
f1()
f2()

777
10

In [48]:
a = 12
def fan():
    global a
    a = 46
    print(a)
def can():
    print(a)


fan()
can()

46
46

In [50]:
b = 12
def fan():
    global a
    a = 46
    print(b)
def can():
    print(b)


fan()
can()        # here value is not declared as global then how to get 12 here

12
12

In [53]:
a=100  #global

def f1():
    a=777 #local
    print("local variable:",a)
    print("global variable:",globals()["a"])
    
f1()

local variable: 777
global variable: 100

In [54]:
globals()?

SyntaxError: invalid syntax (1390734257.py, line 1)

In [55]:
bank = "SBI"
ifsc = "SBIN00005366"
place = "Bhimavaram"
pincode = 534202

def customer1(credit):
    bal = 10000
    total = bal+credit
    
    global branch
    branch = "ADB"
    
    pincode = 534201
    
    print("total amount in account : ",total)
    print(place)
    print(ifsc)
    print("customer pincode : ",pincode)
    print("Bank pincode : ",globals()['pincode'])
    
def customer2():
    print(total)

In [57]:
customer1(233)
#customer2()

total amount in account :  10233
Bhimavaram
SBIN00005366
customer pincode :  534201
Bank pincode :  534202

In [58]:
def customer2():
    print(pincode)

In [59]:
customer2()

534202